<div>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animate -->
    <link href="css/animate.min.css" rel="stylesheet">

    <link href="css/design.css" rel="stylesheet">

    <!-- ChooseLang -->
    <div class="container-fluid">
        <div class="chooseLang">
            <p>Choose a language</p>
            <div class="row">
                <div class="col-xs-12">
                    <div class="selectLang" ng-click="saveData('german')">
                        <a class="langBtn">German</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="selectLang" ng-click="saveData('spanish')">
                        <a class="langBtn">Spanish</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="selectLang" ng-click="saveData('french')">
                        <a class="langBtn">French</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="selectLang" ng-click="saveData('italian')">
                        <a class="langBtn">Italian</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="scripts/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</div>