<div>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animate -->
    <link href="css/animate.min.css" rel="stylesheet">

    <link href="css/design.css" rel="stylesheet">

    <!-- Settings -->
    <div class="container-fluid">
        <div class="settings">
            <p>Settings</p>
            <!--<div class="row">
                <div class="col-xs-12">
                    <div class="selectLang changeLang">
                        <a href="#/chooseLang" class="langBtn">Change language</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="selectNot changeNot">
                        <a href="#/chooseNot" class="notBtn">Change notifications</a>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <a href="#/chooseLang">
                    <div class="selectLang changeLang">
                        <div class="langBtn">Change Language</div>
                    </div>
                </a>
            </div>
            <div class="row">
                <a href="#/chooseNot">
                    <div class="selectNot changeNot">
                        <div class="notBtn">Change Notifications</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script src="scripts/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</div>